/*burger-button animated styles*/
.icon {
  width: 2.4rem;
  height: calc(1.8rem + 4px);
  z-index: 111;
}
.icon__item {
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  transition: 0.5s;
  transition-timing-function: ease-out;
  background-color: $bg_white;
}
.icon .one {
  top: 0px;
}
.icon .two, .icon .three {
  top: calc(0.9rem);
}
.icon .four {
  top: 1.8rem;
}

.icon.open .one, .icon.open .four {
  display: none;
}
.icon.open .two {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
} 
.icon.open .three {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}


/*adaptivity*/
	/*mobile*/
	@media only screen and (min-width: $sm) {
		
	}
	/*tablets*/
	@media only screen and (min-width: $md) {
		
	}
	/*desktop or tablets in landscape*/
	@media only screen and (min-width: $lg) {
		.icon {display: none;}
	}

	/*wideview monitor*/
	@media only screen and (min-width: $xl) {
		
	}
	/*supperwide view monitor*/
	@media only screen and (min-width: $xxl) {
		
	}