.section {
	background-color: $bg_white;
}
.section_grey {
	background-color: $bg_grey;
}
.section__title {}

.features {justify-content: space-between;}
.features__item {width: 100%;}
.feature__img {
	width: 20%;
	color: transparent;
	background: rgba(255,255,255,0) url(../img/person-icon.png) 50% 30% no-repeat; background-size: auto 70%;
}
.feature:nth-child(2) .feature__img {background-image: url(../img/ipad-icon.png);}
.feature:nth-child(3) .feature__img {background-image: url(../img/star-icon.png);}
.feature:nth-child(4) .feature__img {background-image: url(../img/browser-icon.png);}
.feature:nth-child(5) .feature__img {background-image: url(../img/video-icon.png);}
.feature:nth-child(6) .feature__img {background-image: url(../img/сamera-icon.png);}

.review {padding-top: 2.5rem;}
.review__img {
	color: transparent;
	background: #000 url(https://randomuser.me/api/portraits/men/51.jpg) 50% 50% no-repeat; background-size: 100% auto;
	border-radius: 50%;
}
.review:nth-child(2) .review__img {background-image: url(https://randomuser.me/api/portraits/men/3.jpg);}
.review__content {display: flex; flex-direction: column; justify-content: center; align-items: center;}
.review__content:before {
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-left: 1rem solid transparent;
	border-right: 1rem solid transparent;
	border-bottom: 2rem solid $bg_white;
}

.illustration {
	color: transparent;
	background: rgba(255,255,255,0) url(../img/web-dev-feat.png) 50% 50% no-repeat; background-size: 80% auto;
}
.activities__item:nth-child(2) .illustration {
	background-image: url(../img/ident-brand-feat.png);
}


/*adaptivity*/
	/*mobile*/
	@media only screen and (min-width: $sm) {
		
	}
	/*tablets*/
	@media only screen and (min-width: $md) {
		
	}
	/*desktop or tablets in landscape*/
	@media only screen and (min-width: $lg) {
		.illustration {width: 33%;}
		.activities__item:nth-child(2n + 1) .illustration {order: 2;}
		.features__item {width: 50%;}
		.feature__img {width: 25%; background-position: 70% 0%; background-size: auto 55%;}
		.review {padding-top: 2rem;}
		.review__img {width: 25%; margin-right: 3rem;}
		.review:nth-child(2n) .review__img {order: 2; margin-right: 0; margin-left: 3rem;}
		.review__content {flex-direction: row;}
		.review__content:before, .review__content:after {
			content: '';
			display: block;
			width: 0;
			height: 0;
			border-top: 1rem solid transparent;
			border-bottom: 1rem solid transparent;
		}
		.review__content:before {
			border-right: 2rem solid $bg_white;
		}
		.review__content:after {
			display: none;
			border-left: 2rem solid $bg_white;
		}
		.review:nth-child(2n) .review__content:after {display: block;}
		.review:nth-child(2n) .review__content:before {display: none;}
	}
	/*wideview monitor*/
	@media only screen and (min-width: $xl) {
		
	}
	/*supperwide view monitor*/
	@media only screen and (min-width: $xxl) {
		
	}