.section {
	background-color: $bg_white;
}
.section_grey {
	background-color: $bg_grey;
}
.section__title {}

.features {justify-content: space-between;}
.features__item {width: 100%;}
.feature__img {
	height: 2rem;
	color: transparent;
	background: rgba(255,255,255,0) url(../img/person-icon.png) 0% 0% no-repeat; background-size: auto 90%;
}
.feature__img_2 {background-image: url(../img/ipad-icon.png);}
.feature__img_3 {background-image: url(../img/star-icon.png);}
.feature__img_4 {background-image: url(../img/browser-icon.png);}
.feature__img_5 {background-image: url(../img/video-icon.png);}
.feature__img_6 {background-image: url(../img/сamera-icon.png);}

.reviews {padding-top: 2rem;}
.reviews__img {
	height: 8rem;
	color: transparent;
	background: #000;
	border-radius: 50%;
}

.illustration {
	height: 7rem; 
	color: transparent;
	background: rgba(255,255,255,0) url(../img/ident-brand-feat.png) 50% 50% no-repeat; background-size: auto 80%;
}
.illustration_web-dev {
	background-image: url(../img/web-dev-feat.png);
}


/*adaptivity*/
	/*mobile*/
	@media only screen and (min-width: $sm) {
		
	}
	/*tablets*/
	@media only screen and (min-width: $md) {
		
	}
	/*desktop or tablets in landscape*/
	@media only screen and (min-width: $lg) {
		.illustration {height: auto;}
		.illustration_web-dev {order: 3;}
		.features__item {width: 50%;}
		.feature__img {height: auto; background-position-x: 70%; background-size: auto 55%;  width: 25%;}
		.reviews__img {height: auto; background-position-x: 70%; background-size: auto 55%;  width: 25%;}
		.reviews {padding-top: 2rem;}
		.reviews__img {margin-right: 3rem;}
		.reviews__img_2 {order: 2; margin-right: 0; margin-left: 3rem;}
	}
	/*wideview monitor*/
	@media only screen and (min-width: $xl) {
		
	}
	/*supperwide view monitor*/
	@media only screen and (min-width: $xxl) {
		
	}