/*fonts*/
$default-font: "brandon-grotesque", "roboto-example", Arial, Helvetica, sans-serif;

/*scrren breakpoints*/
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1640px;
$xxl: 1920px;

/*text colors*/
$text_white: #fff;
$text_black: #222222;
$text_grey: #777777;
$text_blue: #7f97c9;
$text_placeholder: #666;

/*font sizes*/
$h1: 66px;
$h2: 60px;
$h3: 22px;
$text_super-hight: 32px;
$text_hight: 26px;
$text_medium: 20px;
$text_low: 18px;

/*bg colors*/
$bg_grey: #fafafa;
$bg_purple: #7690c5;
$bg_white: #fff;
$bg_black: #111111;

/*main colors*/
$error: rgba(255,0,0,0.8);
$inactive: rgba(232,97,106,0.55);
$accent: orange;

/*adaptivity*/
	/*mobile*/
	@media only screen and (min-width: $sm) {
		
	}
	/*tablets*/
	@media only screen and (min-width: $md) {
		
	}
	/*desktop or tablets in landscape*/
	@media only screen and (min-width: $lg) {

	}

	/*wideview monitor*/
	@media only screen and (min-width: $xl) {
		
	}
	/*supperwide view monitor*/
	@media only screen and (min-width: $xxl) {
		
	}



